@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #e3e7eb;
  width: 100%;
}

/* Form Submission */
form {
  position: relative;
  width: 40%;
  margin: auto;
}

form div {
  margin-top: 15px;
}

form label {
  font-weight: 600;
}

input,
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-top: 2px;
}

form div button {
  position: absolute;
  right: 0;
  background-color: #111727;
  padding: 6px 30px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 120px;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .left ul li {
    display: none;
  }

  .right a {
    display: none;
  }

  .hamberger {
    display: block;
    box-sizing: border-box;
    margin: 0;
  }

  .profile {
    width: 100%;
    flex-direction: column;
  }

  .card {
    width: 100%;
    flex-direction: column;
  }

  .content {
    width: auto;
    padding: 30px;
  }
}
