<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACT</title>

    <!-- style css -->
    <link rel="stylesheet" href="../assets/css/style_contact.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />

    <!-- script font awesome -->
    <script
      src="https://kit.fontawesome.com/b9d0ad08e2.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Navbar -->
    <nav>
      <div class="left">
        <ul>
          <img src="../assets/image/logo.png" alt="logo" />
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/add-blog">Add Project</a>
          </li>
          <li>
            <a href="/testimonial">Testimonial</a>
          </li>
          <div class="log">
            {{#if isLogin}}
              <li class="nav-item">
                <a class="nav-link fw-bold active text-danger">Hello,
                  {{users}}</a>
              </li>
              <li class="nav-item ms-3">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item ms-3">
                <a class="nav-link" href="/login">Login</a>
              </li>
            {{/if}}
          </div>
        </ul>
      </div>
      <div class="d-flex justify-content-end">
        <div class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
          <div class="hamberger">
            <button onclick="openHamberger()">
              <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
          </div>
        </div>
        <div class="right">
          <a class="btn btn-danger btn-submit ms-5" href="/contact-me">Contact
            Me</a>
        </div>
      </div>
    </nav>

    <div class="hamberger-bars-items" id="hamberger-bars-items">
      <a href="/" class="active">Home</a>
      <a href="/add-blog">Add Project</a>
      <a href="/testimonial">Testimonial</a>
      {{#if isLogin}}
        <a class="nav-item nav-link fw-bold active text-danger">Hello,
          {{users}}</a>
        <a class="nav-item ms-3 nav-link" href="/logout">Logout</a>
      {{else}}
        <a class="nav-item nav-link" href="/register">Register</a>
        <a class="nav-item ms-3 nav-link" href="/login">Login</a>
      {{/if}}
      <a href="/contact">Contact</a>
    </div>

    <h1>GET IT TOUCH</h1>

    <!-- Form contact -->
    <form>
      <div>
        <label>Name</label>
        <input type="text" placeholder="Type your name..." id="name" />
      </div>

      <div>
        <label>Email</label>
        <input type="email" placeholder="Type your email..." id="email" />
      </div>

      <div>
        <label>Phone Number</label>
        <input type="text" placeholder="Type your phone number..." id="phone" />
      </div>

      <div>
        <label>Subject</label>
        <select id="subject">
          <option hidden></option>
          <option>Fullstack Engineer</option>
          <option>DevOps Engineer</option>
        </select>
      </div>

      <div>
        <label>Your Message</label>
        <textarea id="message"></textarea>
      </div>

      <div>
        <button type="button" onclick="getData()">submit</button>
      </div>
    </form>
  </body>
  <script src="../assets/js/script.js"></script>
  <script src="../assets/js/nav.js"></script>
</html>